@import url('https://fonts.cdnfonts.com/css/cartoon-free');



/* navigation */ 

nav {
    background-color: rgb(4, 46, 30);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

  }
  
  nav li {
    margin-right:20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }

  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
  }
  
  nav a:hover {
    color: #69c;
  }

/* header  */ 

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-image: url('cover.jpg');
  background-attachment: fixed;
  background-size: cover;}
  
  h1 {
    color: white;
    text-align: center;

    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }



.green-box {
  background-color: transparent;
  padding: 20px;}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f5f0;
    color: #333;
  }
  
  header {
    background-color: #4caf50;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: right;
  }
  
  nav ul li {
    display: inline;
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }
  
  .hero {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .hero h1 {
    font-size: 36px;
    color: #fff;
    padding: 20px;
  }
  
  .content {
    background-color: #fff;
    padding: 20px;
  }
  
  .content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .content p {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  

  .container {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  .side-images {
    display: flex;
    flex-direction: row;
  }
  
  .side-images img {
    width: 400px;
    margin-bottom: 10px;
    margin-right: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    
  }
  
  .side-images img.active {
    opacity: 1;
  }
  
  .container h1,
  .container p {
    margin: 0;
  }
  